* {
  margin: 0px;
  color: #025a4e;
  box-sizing: border-box;
}

p {
  line-height: 1.5;
}

navbar {
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  height: 90px;
  box-sizing: border-box;
  position: fixed;
  z-index: 999;
  width: 100%;
  color: #4c6763;
  font-size: 17px;
  /* Start the navbar off the screen */
  transition: right 0.3s ease;



  ;
}



.navbar {
  background-color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  transition: transform 0.3s ease-in-out;
}

.navbar.scrolling {
  background-color: #ebebebda;
  padding: 0px 20px;
}

navbar>div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  width: 45%;
  transition: 0.4s ease-in-out;
}

navbar>div>a {
  text-decoration: none;
  color: #025a4e;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 0px;
}



navbar>div>a:hover {
  background-color: rgba(240, 248, 255, 0.374);
}

body {
  background-color: hsl(36deg 30.91% 87.46%);
  margin: 0px;
  padding: 0px;
}



/* Styles for the hamburger menu icon */
.burger-icon {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;

  cursor: pointer;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: hsla(172, 95%, 18%, 1);
  margin: 4px 0;
  transition: transform .5s ease-in-out, opacity 0.3s ease-in-out;
}

/* Animation for the hamburger menu icon */

.burger-icon.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-4px, -3px);
}

.burger-icon.open .bar:nth-child(2) {
  opacity: 0;
}

.burger-icon.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-4px, 3px);
}



.hero {
  z-index: 0;
  position: relative;
  height: 100vh;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #025a4e;
  font-size: 20px;
  background: linear-gradient(30deg,
      hsl(36deg 30.91% 87.46%) 51%,
      /* First color, 51% from the bottom */
      #27e1251c 80%,
      /* Second color, 80% from the bottom */
      #fde1f2 100%
      /* Third color, 100% (top) */
    );
}

.hero-child {
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: fit-content;
  position: relative;
}

.name {
  font-size: 115px;
  margin-bottom: 50px;
}

.abs {
  position: absolute;
}

.star {
  left: -60px;
  bottom: 35%;
}

.flexBox {
  display: grid;
  gap: 30px;
  padding: 30px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.l1.active {
  background-color: rgb(255, 255, 255);
}

.note-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.note-container>div {
  width: 70%;
  justify-content: space-between;
}

.note-container>div:hover {

  background-color: whitesmoke;
  top: 0px;

}

@media (max-width:967px) {

  .hero {
    min-height: auto;
    height: fit-content;
  }

}





@media (max-width:740px) {

  .burger-icon {
    display: flex;
    margin-right: 20px;
  }

  .navbar.open {

    right: -35px;

  }


  .l1.active {
    background-color: rgb(212 212 212);
  }

  navbar>div>a {

    padding: 10px 10px;
    border-radius: 5px;
    margin-left: 15px;

  }

  navbar {
    padding: 0px;
    height: 70px;
    justify-content: right;
  }

  navbar>div {
    border-radius: 0px;
  }

  .navbar.scrolling {
    background-color: #ffffff;

    padding: 50px 0px;

  }

  .navbar {
    width: 100%;
    opacity: 0;
    right: -170px;
    transition: 1s ease-in-out;
    flex-direction: column;
    position: absolute;
    margin-top: 70px;
    background-color: #ffffff;
    width: 150px;
    border-radius: 40px;
    padding: 50px 0px;
    opacity: 1;
    height: 100vh;
    justify-content: flex-start;
    align-items: start;
    gap: 39px;

  }
}