.play-hero {
    z-index: 0;
    padding-top: 160px;
    padding-bottom: 8x0px;
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #025a4e;
    font-size: 80px;
    background: linear-gradient(30deg,
            hsl(36deg 30.91% 87.46%) 51%,
            /* First color, 51% from the bottom */
            #27e1251c 80%,
            /* Second color, 80% from the bottom */
            #fde1f2 100%
            /* Third color, 100% (top) */
        );
}

.p-h-t {
    font-size: 20px;
    padding: 40px;
    width: 60%;
    text-align: center;
    line-height: 1.5;
    font-weight: 500;
}

.playC1 {
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgba(255, 251, 246, 0.306);
    padding: 35px 40px;
    gap: 30px;
    height: fit-content;
    position: relative;
    transition: .5s ease-in-out;
}


.playC1>img {
    border-radius: 50%;
    height: 100px;
    width: auto;

}

.playC1>div>h3 {
    font-size: 19px;
    font-weight: 700;

}

.playC1>div>p {
    margin-top: 30px;
    font-size: 17px;
    line-height: 1.5;

}



.playC2 {
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    border-radius: 15px;
    background-color: rgba(255, 251, 246, 0.306);
    padding: 40px 40px;
    gap: 30px;
    overflow: hidden;
    position: relative;
    transition: .5s ease-in-out;
    height: 381px;
    grid-row: span 2/span 2;

}


.playC2>img {

    margin-top: 140px;
    width: auto;
    height: 350px;
    position: absolute;

}

.playC2>div> {
    width: 100%;
}

.playC2>div>h3 {
    font-size: 19px;
    font-weight: 700;
}

.playC2>div>p {
    margin-top: 30px;
    font-size: 17px;
    line-height: 1.5;

}

.playC1:hover {
    top: -5px;
}




.playC2:hover {
    top: -5px;
}

@media (max-width: 967px) {

    .p-h-t {
        width: auto;
    }

    .play-hero>h2 {
        font-size: 80px;
    }

    .note-container>div {
        width: 90%;

    }

}